#page-wrap:after{
    content: "Smartphone Layout";
}

section h1{
    display: none;
}
body{
    font-size: xx-large; 
}

footer, input{
    font-size: large; 
}
#imagen{
    width: 100%;
    height: 200px;
}
table{
    font-size: 12px !important;
}
section{
    height: 300px;
}