<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quiz</title>
    </head>
    <body>
        <h2><%= respuesta%></h2>
        <a href="/quizes/question">Volver</a>
    </body>
</html>
