<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>lista de preguntas</title>
    </head>
    <body>
        <table>
            <% var i; for(i=0; i < quizes.length;i++){%>
                <tr>
                    <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
                </tr>
            <%}%>
        </table>
    </body>
</html>
