<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quiz</title>
    </head>
    <body>
        <form action="/quizes/answer" method="get">
            Pregunta <%= pregunta %>
            <input type="text" name="respuesta" />
            <input type="submit" value="Responder">
        </form>
    </body> 
</html>
