<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Creditos</title>
    </head>
    <body>
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th>Nombres:</th>
                <td>Franklin Ospino D.</td>
            </tr>
            <tr>
                <th>Profesion:</th>
                <td>Estudiante de Sistemas -- Analista de sistemas informaticos</td>
            </tr>
        </table>
        <div style="text-align: center" id="imagen"></div>
    </body>
</html>
